PORT=3000
FIREBASE_API_KEY=AIzaSyAJqZlm8vk27pkLnBfrojSyGITdCZBQIaw
FIREBASE_AUTH_DOMAIN=mi-taller-pro-gtq.firebaseapp.com
FIREBASE_PROJECT_ID=mi-taller-pro-gtq
FIREBASE_STORAGE_BUCKET=mi-taller-pro-gtq.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1096958123404
FIREBASE_APP_ID=1:1096958123404:web:cd69bbc0966ebfefce4aa9
